@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Roboto', sans-serif;
  outline:none;
  cursor: default;
}


::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:rgb(68, 68, 68);
}

::selection {
  background: none;
}

.header1{
  background-image: url("/img/banner.jpg");
  min-height: 100vh;
  background-size: cover;
  /* background-attachment: fixed; */
  /* margin-top: -40px; */
}